---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: US-ASCII
      string: client_id=478899299614-91kb33lr539o6rjgb513l75q9gktap6s.apps.googleusercontent.com&client_secret=4TrXN3ksEWrQ_VBPV60BezwP&code=4%2FALCU_YJmxE-ciVtbtX0kjI40tOJ8YNuK3Upg_0hMC2A.8mqF_IZbG-sUWmFiZwPfH03fnvqFmQI&grant_type=authorization_code&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename="json.txt"; filename*=UTF-8''json.txt
      Alternate-Protocol:
      - 443:quic,p=0.5
    body:
      encoding: US-ASCII
      string: ! "{\n  \"access_token\" : \"ya29.VwGumv7WmhOZqkhgzmXOlekffSvbeNLzd4OVwxumhQr_0IAh1HJHdvUIE6iEz1gZoM1JWDlbGCoUNQ\",\n
        \ \"token_type\" : \"Bearer\",\n  \"expires_in\" : 3600,\n  \"refresh_token\"
        : \"1/WVbj1g9SSTIUCSwfPqxnTi1eKYji0JpmFglNF2_ivJI\"\n}"
  recorded_at: Thu, 16 Apr 2015 16:09:56 GMT
recorded_with: VCR 2.8.0
